#main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--highlight);
}

button {
    color: var(--highlight)!important;
    /* background: var(--background)!important; */
    border:  1px solid var(--highlight)!important;
}

.MuiPaper-root > * {
    font-size: 1.3rem!important;
}

.MuiPaper-root {
    margin-bottom: 2rem;
}
